<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eric.magus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Upgrade"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Evolve"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name=".Barracks"
            android:screenOrientation="landscape" />
        <activity android:name=".BarrackUnit"
            android:theme="@style/AppTheme.customTheme"
            android:screenOrientation="landscape" />
    </application>

</manifest>
